# Python
__pycache__/
*.pyc
.env
.venv

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/features/

# MLflow
mlruns/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# OS
.DS_Store
Thumbs.db