# Core
pandas
numpy
requests
beautifulsoup4
lxml
matplotlib
seaborn
streamlit

# Database
psycopg2-binary
sqlalchemy

# Weather
meteostat
python-dateutil

# ML
scikit-learn
xgboost
cloudpickle

# MLflow
mlflow

# API
fastapi
uvicorn[standard]
pydantic

# Monitoring
evidently