# Core
pandas
numpy
requests
beautifulsoup4
lxml
matplotlib
seaborn

# Database
psycopg2-binary
sqlalchemy

# Weather
meteostat
python-dateutil

# ML
scikit-learn
xgboost

# MLflow
mlflow

# Monitoring
evidently